
    <div flex="80" flex-offset="10">
    	<div layout="column">
    		<div layout="row">
	    		<md-input-container class="md-icon-float md-block" flex="50">
			      <!-- Use floating label instead of placeholder -->
			      <label>Artista</label>
			      <md-icon md-svg-src="/assets/img/001-music.svg" class="name"></md-icon>
			      <input ng-model="artist" type="text">
			    </md-input-container>

			    <md-input-container class="md-icon-float md-block" flex>
			    	<label>Canción</label>
			      <md-icon md-svg-src="/assets/img/002-quaver.svg"></md-icon>
			      <input ng-model="title" type="text">
			    </md-input-container>	
	    	</div>	
	    	<md-button ui-sref="letra({artist: artist, title: title})" class="md-raised md-primary">Consultar</md-button>
    	</div>
    </div>

