		<div class="row">
			<div class="col-sm-4 col-sm-offset-2 text-center">
				<legend class="text-left">Nuevo Prestamo</legend>
				<form>
					<div class="form-group">
						<input type="number" step="1" class="form-control input-lg text-center" ng-model="nuevoPrestamo.prestamo" min="1" max={{$storage.capital}} required>
						<br>
						<select class="form-control input-lg text-center" ng-model="nuevoPrestamo.cuota_id" required>
							<option value="" disabled selected>N° de Cuotas</option>
							<option ng-repeat="cuota in modeloCuotas" value={{cuota.id}}>{{cuota.n_cuotas}}</option>
						</select>
						<br>
					</div>

					<button type="submit" class="btn btn-success btn-lg" ng-click="registrarPrestamo()" ng-disabled="!nuevoPrestamo.prestamo || !nuevoPrestamo.cuota_id">Agregar</button>
					<button class="btn btn-warning btn-lg" ng-click="mostrarPrestamo()">Cerrar</button>
				</form>
			</div>
		</div>